---
layout: archive
title: "Talks and presentations"
permalink: /communications/
author_profile: true
---

<!-- {% include base_path %}
{% for talk in site.communications reversed %}
  {% capture year %}{{ talk.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% endfor %}

  {% include archive-single-talk.html %} -->

{% include base_path %}  
{% for post in site.communications reversed %}
{% capture year %}{{ talk.date | date: '%Y' }}{% endcapture %}
{% if year != written_year %}
  <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
  {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
{% include archive-single-talk.html %}
{% endfor %}
